@use "../style.scss";

@import "../mixins.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-variation-settings: "opsz" 24;
    line-height: 1.2em;
    padding: 4px 0px;
    margin-top: 1.2em;
    margin-bottom: 0.8em;
    position: relative;
    color: var(--comp-title-color);
    font-family: var(--comp-title-font-family);
    font-size: var(--comp-title-fontSizeH1);
    border-radius: 3px;
    position: relative;
    
    span {
        display: inline;
        position: absolute;
        top: -1.1em;
        font-size: 0.4em;
        line-height: 1em;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.8;
        padding-left: 2px;
        padding-bottom: 0.4em; 
        color: var(--comp-title-headline-color);
        font-family: var(--comp-title-headline-font-family);
    }

    &.left {
        text-align: left;
    }

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }
}

// Responsive title on mobile

$h1_size: var(--comp-title-fontSizeH1);
$h2_size: var(--comp-title-fontSizeH2);
$h3_size: var(--comp-title-fontSizeH3);
$h4_size: var(--comp-title-fontSizeH4);
$h5_size: var(--comp-title-fontSizeH5);
$h6_size: var(--comp-title-fontSizeH6);

h1 {
  font-size: $h1_size;
  span {
      font-size: 0.23em;
  }

  @include for-tablet-landscape-down {
    font-size: calc($h1_size - 1em);
  }

  @include for-phone-only {
    font-size: calc($h1_size - 1.5em);
  }
}
h2 {
  font-size: $h2_size;

  @include for-tablet-landscape-down {
    font-size: calc($h2_size - 0.4em);
  }

  @include for-phone-only {
    font-size: calc($h2_size - 0.6em);
  }
}
h3 {
  font-size: $h3_size;

  @include for-tablet-landscape-down {
    font-size: calc($h3_size - 0.4em);
  }

  @include for-phone-only {
    font-size: calc($h3_size - 0.6em);
  }
}
h4 {
  font-size: $h4_size;

  @include for-tablet-landscape-down {
    font-size: calc($h4_size - 0.4em);
  }

  @include for-phone-only {
    font-size: calc($h4_size - 0.6em);
  }
}
h5 {
  font-size: $h5_size;

  @include for-tablet-landscape-down {
    font-size: calc($h5_size - 0.4em);
  }

  @include for-phone-only {
    font-size: calc($h5_size - 0.6em);
  }
}
h6  {
  font-size: $h6_size;

  @include for-tablet-landscape-down {
    font-size: calc($h6_size - 0.4em);
  }

  @include for-phone-only {
    font-size: calc($h6_size - 0.6em);
  }
}