@use "tokens/ref-palette.module.scss";
@use "tokens/sys-color.module.scss";
@use "tokens/sys-typeface.module.scss";

@use "components/badge.scss";
@use "components/title.scss";

html {
    background: var(--sys-color-background);
    body {
        background: var(--sys-color-background);
        font-family: var(--sys-typeface-sans-variable);
        font-weight: 400;
        font-variation-settings: "opsz" 24;

        a {
            color: var(--sys-color-secondary);
            text-decoration: none;
        }
    }
}